Repository jaimergp/external-metadata-mappings: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-dedup, find-missing-or-extra

sort-dedup:
  name: Prevent duplicate entries and sort
  language: python
  entry: python scripts/lint-duplicates-sort.py

find-missing-or-extra:
  name: Find missing or extra entries in mappings
  language: python
  entry: python scripts/lint-mapping-entries.py

Implement .validate() and a few mixins
  src/external_metadata_mappings/__init__.py
  tests/test_main.py
Due: none

Validate with $schema if available
  src/external_metadata_mappings/__init__.py
Due: none

fix backslash issue
  src/external_metadata_mappings/__init__.py
Due: none

Implement `.validate()` (#3)
  src/external_metadata_mappings/__init__.py
  tests/test_main.py
Due: none

Rework pixi environments
  README.md
  pixi.lock
  pyproject.toml
Due: none

Add packageurl parsing tests
  pixi.lock
  pyproject.toml
  src/external_metadata_mappings/parse.py
  tests/test_main.py
  tests/test_parse.py
Due: none

Add packageurl parsing tests (#4)
  pixi.lock
  pyproject.toml
  src/external_metadata_mappings/parse.py
  tests/test_main.py
  tests/test_parse.py
Due: none

Update README
  README.md
Due: none

Update Arch Linux mapping with URLs
  data/arch-linux.mapping.json
Due: sort-dedup, find-missing-or-extra

Add URLs to choco and winget
  data/arch-linux.mapping.json
  data/chocolatey.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

URLs for brew
  data/homebrew.mapping.json
Due: sort-dedup, find-missing-or-extra

URLs for scoop
  data/scoop.mapping.json
Due: sort-dedup, find-missing-or-extra

URLs for Ubuntu 24.04
  data/ubuntu.mapping.json
Due: sort-dedup, find-missing-or-extra

URLs for fedora
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

URLs for Gentoo
  data/gentoo.mapping.json
Due: sort-dedup, find-missing-or-extra

URLs for conda-forge
  data/conda-forge.mapping.json
Due: sort-dedup, find-missing-or-extra

Play a bit with `univers` and version parsing
  pixi.lock
  pyproject.toml
  src/external_metadata_mappings/parse.py
  tests/test_parse.py
Due: none

pre-commit
  src/external_metadata_mappings/parse.py
Due: none

Add Conan mapping
  data/conan.mapping.json
Due: sort-dedup, find-missing-or-extra

Add Spack mapping
  data/spack.mapping.json
Due: sort-dedup, find-missing-or-extra

Fix typo in Fedora mapping
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

Fix specs_from parsing
  src/external_metadata_mappings/__init__.py
Due: none

Add mapping for Nix
  data/nix.mapping.json
Due: sort-dedup, find-missing-or-extra

Update known ecosystems
  data/known-ecosystems.json
  data/nix.mapping.json
Due: sort-dedup, find-missing-or-extra

Add pixi to conda-forge's registry entry
  data/known-ecosystems.json
Due: sort-dedup

Add vcpkg
  data/known-ecosystems.json
  data/vcpkg.mapping.json
Due: sort-dedup, find-missing-or-extra

Adopt dep: scheme
  README.md
  app.py
  data/arch-linux.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
  schemas/central-registry.schema.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
  scripts/lint-mapping-entries.py
  src/external_metadata_mappings/__init__.py
  tests/test_main.py
  tests/test_parse.py
Due: sort-dedup, find-missing-or-extra

use `virtual`
  README.md
  app.py
  data/arch-linux.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
  schemas/central-registry.schema.json
  schemas/schemas.py
  scripts/lint-mapping-entries.py
  src/external_metadata_mappings/__init__.py
  tests/test_main.py
Due: sort-dedup, find-missing-or-extra

do not use `purl` as a term
  README.md
  app.py
  src/external_metadata_mappings/__init__.py
  tests/test_main.py
Due: none

arch-linux -> arch
  data/arch.mapping.json
  data/known-ecosystems.json
Due: sort-dedup, find-missing-or-extra

add cargo to fedora's rust
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

resolve alias when iterating by id
  src/external_metadata_mappings/__init__.py
  tests/test_main.py
Due: none

Use libarrow-all
  data/conda-forge.mapping.json
Due: sort-dedup, find-missing-or-extra

Add LLVM
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Start version conversion logic
  data/conda-forge.mapping.json
  pixi.lock
  pyproject.toml
  schemas/external-mapping.schema.json
  schemas/schemas.py
  src/external_metadata_mappings/__init__.py
Due: sort-dedup, find-missing-or-extra

Default to no versions for now
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: sort-dedup, find-missing-or-extra

add tests
  src/external_metadata_mappings/__init__.py
  tests/test_commands.py
Due: none

provide iter_specs_by_id, with mapped and versioned returns
  src/external_metadata_mappings/__init__.py
  tests/test_commands.py
Due: none

Version conversion logic (#6)
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
  pixi.lock
  pyproject.toml
  schemas/external-mapping.schema.json
  schemas/schemas.py
  src/external_metadata_mappings/__init__.py
  tests/test_commands.py
Due: sort-dedup, find-missing-or-extra

add more packages to fedora's libarrow
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

Path conditions:
  sort-dedup: any of: ^data/.*\.json$
  find-missing-or-extra: any of: ^data/.*\.mapping\.json$
