Repository jaimergp/external-metadata-mappings: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-dedup, find-missing-or-extra

sort-dedup:
  name: Prevent duplicate entries and sort
  language: python
  entry: python scripts/lint-duplicates-sort.py

find-missing-or-extra:
  name: Find missing or extra entries in mappings
  language: python
  entry: python scripts/lint-mapping-entries.py

no acero?
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

no flight?
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

add clang
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Remove 'package_managers' from 'known-ecosystems'
  data/known-ecosystems.json
  schemas/known-ecosystems.schema.json
  schemas/schemas.py
  tests/test_main.py
Due: sort-dedup

Fix clang mappings
  data/conda-forge.mapping.json
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

Use absolute URLs for $schema
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/known-ecosystems.json
  data/nix.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

this field is better named DepURLField
  schemas/central-registry.schema.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: none

Remove library, move to pixi.toml, update app to use pyproject-external
  .gitattributes
  .github/workflows/test.yml
  .gitignore
  README.md
  app.py
  pixi.lock
  pixi.toml
  pyproject.toml
  src/external_metadata_mappings/__init__.py
  src/external_metadata_mappings/parse.py
  tests/test_commands.py
  tests/test_main.py
  tests/test_parse.py
Due: none

add requirements.txt for deployment
  requirements.txt
Due: none

Remove library, move to pixi.toml, update app to use pyproject-external (#8)
  .gitattributes
  .github/workflows/test.yml
  .gitignore
  README.md
  app.py
  pixi.lock
  pixi.toml
  pyproject.toml
  requirements.txt
  src/external_metadata_mappings/__init__.py
  src/external_metadata_mappings/parse.py
  tests/test_commands.py
  tests/test_main.py
  tests/test_parse.py
Due: none

Fix README typo
  README.md
Due: none

Add a few more languages and interfaces
  data/registry.json
Due: sort-dedup

tune objective c
  data/registry.json
Due: sort-dedup

cpp -> cxx
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Add missing canonical references (empty for now)
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Cuda -> CUDA
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Add a few more languages and interfaces (#10)
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Ensure virtual: deps don't have 'provides'
  .pre-commit-config.yaml
  schemas/central-registry.schema.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
  scripts/lint-registry.py
Due: none

pre-commit
  scripts/lint-registry.py
Due: none

Ensure `virtual:` deps don't have `provides` (#11)
  .pre-commit-config.yaml
  schemas/central-registry.schema.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
  scripts/lint-registry.py
Due: none

depend on pyproject-external on PyPI
  requirements.txt
Due: none

Fix ?id=... navigation
  app.py
Due: none

Add PyPI mapping
  data/pypi.mapping.json
Due: sort-dedup, find-missing-or-extra

Fix counters in app
  app.py
Due: none

pre-commit
  data/pypi.mapping.json
Due: sort-dedup, find-missing-or-extra

add specs_from
  data/pypi.mapping.json
Due: sort-dedup, find-missing-or-extra

update description
  data/pypi.mapping.json
Due: sort-dedup, find-missing-or-extra

Add PyPI mapping (#13)
  app.py
  data/pypi.mapping.json
Due: sort-dedup, find-missing-or-extra

Add `query_command` to mappings schema
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: none

Populate mappings
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/pypi.mapping.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

pre-commit
  schemas/schemas.py
Due: none

Add to app
  app.py
Due: none

pre-commit
  app.py
Due: none

dev libs
  requirements.txt
Due: none

undo
  requirements.txt
Due: none

Add `query_command` to mappings schema (#15)
  app.py
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/pypi.mapping.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: sort-dedup, find-missing-or-extra

Adapt to new API
  .gitignore
  app.py
  pixi.lock
  pixi.toml
Due: none

Force pyproject-external>=0.1.1
  requirements.txt
Due: none

Add `extra` field for arbitrary metadata
  pixi.lock
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: none

Define new package_manager.commands schema
  pixi.lock
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: none

Path conditions:
  sort-dedup: any of: ^data/.*\.json$
  find-missing-or-extra: any of: ^data/.*\.mapping\.json$
