Repository jaimergp/external-metadata-mappings: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-dedup, find-missing-or-extra

.pre-commit-config.yaml:

# disable autofixing PRs, commenting "pre-commit.ci autofix" on a pull request triggers a autofix
ci:
  autofix_prs: false
repos:
  # generic verification and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: [--top-keys, "id,$id,$schema,schema_version,name", --indent=2, --autofix]
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Codespell
        args: [--write-changes]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-jsonschema
        name: Check JSON Schema (Registry)
        args: [--verbose, --schemafile, schemas/central-registry.schema.json]
        files: ^data/registry\.json$
      - id: check-jsonschema
        name: Check JSON Schema (Mappings)
        args: [--verbose, --schemafile, schemas/external-mapping.schema.json]
        files: ^data/.*\.mapping\.json$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.7
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: sort-dedup
        name: Prevent duplicate entries and sort
        language: python
        entry: python scripts/lint-duplicates-sort.py
        files: ^data/.*\.json$
      - id: find-missing-or-extra
        name: Find missing or extra entries in mappings
        language: python
        entry: python scripts/lint-mapping-entries.py
        files: ^data/.*\.mapping\.json$

Ubuntu: remove `rustc-1.82` mapping entry
  data/ubuntu.mapping.json
Due: sort-dedup, find-missing-or-extra

Rename "host" to "build_host"
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/ubuntu.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: sort-dedup, find-missing-or-extra

Rename "host" to "build_host" (#29)
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/ubuntu.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: sort-dedup, find-missing-or-extra

Remove `not_equal`
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/gentoo.mapping.json
  data/pypi.mapping.json
  data/spack.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
  scripts/lint-mapping-entries.py
Due: sort-dedup, find-missing-or-extra

Remove `not_equal` operator (#31)
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/gentoo.mapping.json
  data/pypi.mapping.json
  data/spack.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
  scripts/lint-mapping-entries.py
Due: sort-dedup, find-missing-or-extra

Add libsodium
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/pypi.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Gp back to standard `host` terminoogy
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/ubuntu.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: sort-dedup, find-missing-or-extra

Go back to standard `host` terminoogy (#33)
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/ubuntu.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: sort-dedup, find-missing-or-extra

Satisfy linter
  app.py
  ruff.toml
  schemas/schemas.py
  scripts/lint-mapping-entries.py
  scripts/lint-registry.py
Due: none

Again
  ruff.toml
Due: none

Delete duplicate workflow
  .github/workflows/pre-commit.yml
Due: none

Add git and patch to registry
  data/registry.json
Due: sort-dedup

Add git and patch to mappings
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/pypi.mapping.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Add `git` and `patch` to registry and mappings (#35)
  data/arch.mapping.json
  data/chocolatey.mapping.json
  data/conan.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/gentoo.mapping.json
  data/homebrew.mapping.json
  data/nix.mapping.json
  data/pypi.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/spack.mapping.json
  data/ubuntu.mapping.json
  data/vcpkg.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Add libarrow-compute-* to Fedora mappings for arrow
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

Add mappings for Ubuntu 26
  data/ubuntu+24.04.mapping.json
  data/ubuntu+26.04.mapping.json
Due: sort-dedup, find-missing-or-extra

Update ecosystems registry
  data/known-ecosystems.json
Due: sort-dedup

Update branch name temporarily
  data/known-ecosystems.json
Due: sort-dedup

Linter
  data/known-ecosystems.json
  data/ubuntu+24.04.mapping.json
  data/ubuntu+26.04.mapping.json
Due: sort-dedup, find-missing-or-extra

'python3' should be enough in all Ubuntu versions
  data/ubuntu+26.04.mapping.json
Due: sort-dedup, find-missing-or-extra

Fedora: Add libarrow-flight-* too
  data/fedora.mapping.json
Due: sort-dedup, find-missing-or-extra

More deps for arrow (acero, flight)
  data/ubuntu+26.04.mapping.json
Due: sort-dedup, find-missing-or-extra

Add libgandiva
  data/ubuntu+26.04.mapping.json
Due: sort-dedup, find-missing-or-extra

Back to `main`
  data/known-ecosystems.json
Due: sort-dedup

pre-commit
  data/ubuntu+26.04.mapping.json
Due: sort-dedup, find-missing-or-extra

Add mappings for Ubuntu 26 (#36)
  data/known-ecosystems.json
  data/ubuntu+24.04.mapping.json
  data/ubuntu+26.04.mapping.json
Due: sort-dedup, find-missing-or-extra
