Repository jaimergp/external-metadata-mappings: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-dedup, find-missing-or-extra

sort-dedup:
  name: Prevent duplicate entries and sort
  language: python
  entry: python scripts/lint-duplicates-sort.py

find-missing-or-extra:
  name: Find missing or extra entries in mappings
  language: python
  entry: python scripts/lint-mapping-entries.py

Adjust mapping lint rules
  scripts/lint-mapping-entries.py
Due: none

Add chocolatey mapping
  data/chocolatey.mapping.json
Due: sort-dedup, find-missing-or-extra

Small UI changes in mapping view
  app.py
Due: none

Add scoop
  data/scoop.mapping.json
Due: sort-dedup, find-missing-or-extra

Render page for all details of a given ecosystem
  app.py
Due: none

pre-commit
  app.py
  data/chocolatey.mapping.json
  data/scoop.mapping.json
Due: sort-dedup, find-missing-or-extra

Remove mapping entries for non-canonical
  data/chocolatey.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/homebrew.mapping.json
  data/scoop.mapping.json
  data/winget.mapping.json
  scripts/lint-mapping-entries.py
Due: sort-dedup, find-missing-or-extra

Do not report mappings are not available (redundant)
  app.py
Due: none

Fix canonical definition in main list
  app.py
Due: none

Add some details to README
  README.md
Due: none

List not-provided mappings too
  app.py
Due: none

Add open questions
  README.md
Due: none

Use pretty name in these buttons
  app.py
Due: none

Add Arch Linux
  data/arch-linux.mapping.json
Due: sort-dedup, find-missing-or-extra

Add Ubuntu
  data/ubuntu.mapping.json
Due: sort-dedup, find-missing-or-extra

Small adjustments in other mappings
  data/chocolatey.mapping.json
  data/fedora.mapping.json
  data/homebrew.mapping.json
  data/scoop.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Fix Arch Linux name
  data/arch-linux.mapping.json
Due: sort-dedup, find-missing-or-extra

Add Python definition and mappings
  data/arch-linux.mapping.json
  data/chocolatey.mapping.json
  data/conda-forge.mapping.json
  data/fedora.mapping.json
  data/homebrew.mapping.json
  data/registry.json
  data/scoop.mapping.json
  data/ubuntu.mapping.json
  data/winget.mapping.json
Due: sort-dedup, find-missing-or-extra

Add runtime only compiler specs
  data/conda-forge.mapping.json
Due: sort-dedup, find-missing-or-extra

Try creating a mapping for Gentoo Linux
  data/gentoo.mapping.json
Due: sort-dedup, find-missing-or-extra

Add more providers for Rust and C/C++/Fortran
  data/gentoo.mapping.json
Due: sort-dedup, find-missing-or-extra

Fix rust-bin entry
  data/gentoo.mapping.json
Due: sort-dedup, find-missing-or-extra

Keep package manager entries sorted
  data/gentoo.mapping.json
Due: sort-dedup, find-missing-or-extra

Add "empty" libraqm mapping
  data/gentoo.mapping.json
Due: sort-dedup, find-missing-or-extra

Prototype Python API
  .gitignore
  app.py
  pixi.lock
  pixi.toml
  pyproject.toml
  src/external_metadata_mappings/__init__.py
Due: none

Add mapping for Gentoo Linux (#1)
  data/gentoo.mapping.json
Due: sort-dedup, find-missing-or-extra

Fix `Mapping.iter_by_id(only_mapped: bool)` behaviour
  app.py
  src/external_metadata_mappings/__init__.py
Due: none

Avoid duplicate yields in iter_by_id
  src/external_metadata_mappings/__init__.py
Due: none

Use subclasses of UserDict
  src/external_metadata_mappings/__init__.py
Due: none

Define a new schema for known ecosystems and their package managers
  data/known-ecosystems.json
  pixi.lock
  pyproject.toml
  schemas/central-registry.schema.json
  schemas/external-mapping.schema.json
  schemas/known-ecosystems.schema.json
  schemas/schemas.py
  src/external_metadata_mappings/__init__.py
Due: sort-dedup

Apply pre-commit
  data/known-ecosystems.json
  schemas/central-registry.schema.json
  schemas/external-mapping.schema.json
  schemas/known-ecosystems.schema.json
  schemas/schemas.py
  src/external_metadata_mappings/__init__.py
Due: sort-dedup

Update README
  README.md
Due: none

Add requires_elevation to package_managers schema
  data/arch-linux.mapping.json
  data/fedora.mapping.json
  data/ubuntu.mapping.json
  schemas/external-mapping.schema.json
  schemas/schemas.py
Due: sort-dedup, find-missing-or-extra

Enable 'requires_elevation' bool in API and app
  app.py
  src/external_metadata_mappings/__init__.py
Due: none

Pass package_manager full dictionary
  app.py
  src/external_metadata_mappings/__init__.py
Due: none

Add apt to ubuntu
  data/known-ecosystems.json
  data/ubuntu.mapping.json
Due: sort-dedup, find-missing-or-extra

Add tests
  .github/workflows/test.yml
  pixi.lock
  pyproject.toml
  tests/test_main.py
Due: none

Sync lockfile
  pixi.lock
Due: none

Add more platforms
  pixi.lock
  pyproject.toml
Due: none

Add tests (#2)
  .github/workflows/test.yml
  pixi.lock
  pyproject.toml
  tests/test_main.py
Due: none

Path conditions:
  sort-dedup: any of: ^data/.*\.json$
  find-missing-or-extra: any of: ^data/.*\.mapping\.json$
